@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway';
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
}

.btn {
  position: relative;
  height: 150px;
  width: 450px;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: bold;
}

.default-side {
  background-color: #fff;
  border: 10px solid #069;
  color: #069;
}

.hover-side {
  color: #fff;
  background-color: #069;
}
